/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may
 * add more specific styles.
 */

.notes {
    color: red;
    padding-left: 5px;
    font-size: 12px;
}
